<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Rapidpago-Department List</title>

<!--  Bootstrap CSS -->
<link href="../static/bootstrap-4.4.1-dist/css/bootstrap.css"
	rel="stylesheet" th:href="@{/bootstrap-4.4.1-dist/css/bootstrap.css}">
<LINK REL=StyleSheet HREF="/css/nav-var.css" TYPE="text/css">
</head>
<body>
	<div class="container">
		<nav class="menuCSS3">
			<div align="left">
				<a href="/index"><img src="/img/logo_rp.png">
					<h2 align="right">Empleados Rapidpago</h2></a>
			</div>
		</nav>
		<div>
			<a href="department/save/0" class="btn btn-primary">Agregar</a>
		</div>
		<br>
		<h2 th:if="${list.isEmpty()}">No hay datos para mostrar.</h2>
		<div th:if="${!list.isEmpty()}">
			<h2>Departamentos de la empresa</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="department : ${list}">
						<td th:text="${department.name}">
						<td><a class="btn btn-info"
							th:href="@{/department/save/{id}(id=${department.id})}">Editar</a></td>

<!-- 							comentada por temas de integridad de tablas -->
<!-- 						<td><a class="btn btn-danger" -->
<!-- 							th:href="@{/department/delete/{id}(id=${department.id})}">Eliminar</a></td> -->
				</tbody>

			</table>
		</div>


	</div>
</body>
<footer align="center">
	<h6>Realizado por Andres Alejo</h6>
</footer>
</html>