<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Save - Department</title>

<!--  Bootstrap CSS -->
<link href="../static/bootstrap-4.4.1-dist/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap-4.4.1-dist/css/bootstrap.css}">
</head>
<body>
	<div class="container">
	<br>
		<!-- titulo de la pagina -->
		<h2>Agregar Departamento</h2>
		<!-- Id del departamento -->
		<input type="hidden" th:field="*{id}" name="id" id="id">
		<form action="#" th:action="@{/department/save}" th:object="${department}" method="post">
			<!-- Nombre del departamento -->
			<div class="form-group">
				<label for="nombre">Nombre</label>
				<input required type="text" class="form-control" id="name" th:field="*{name}" name="name"> 
			</div>
			<!-- Guardar datos -->
			<button type="submit" class="btn btn-success">Guardar</button>
		</form>
	</div>
</body>
</html> 