<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Lista de Empleados</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script
	src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<LINK rel=StyleSheet href="/css/nav-var.css" type="text/css">
<link href="../static/bootstrap-4.4.1-dist/css/bootstrap.css"
	rel="stylesheet" th:href="@{/bootstrap-4.4.1-dist/css/bootstrap.css}">

</head>

<body>
	<div class="container">
		<div>
			<div align="left">
				<h2 align="right">Empleados Rapidpago</h2>
			</div>
			<div align="left">
				<a href="/index"><img src="/img/logo_rp.png"></a>
			</div>
		</div>

		<h1>Lista de Empleados</h1>
		<div>
			<a href="employee/save/0" class="btn btn-primary">Agregar</a>
		</div>
		<br>
		<h2 th:if="${list.isEmpty()}">No hay datos para mostrar.</h2>
		<div th:if="${!list.isEmpty() }">
			<h2>Empleados</h2>
			<table id="employeesTable" class="table   display responsive">
				<!-- Header Table -->
				<thead>
					<tr>
						<th class="text-center">Nombres</th>
						<th class="text-center">Apellidos</th>
						<th class="text-center">Genero</th>
						<th class="text-center">Numero de Identificacion</th>
						<th class="text-center">Departamento</th>
						<th class="text-center">Nivel de experiencia</th>
						<th class="text-center">Fecha de ingreso</th>
						<th class="text-center">Direccion</th>
						<th class="text-center">Available</th>
<!-- 						<th class="text-center">Acciones</th> -->

					</tr>
				</thead>
				<tbody id="employee_data">
					<tr th:each="employee :${list}">
						<td th:text="${employee.name}">
						<td th:text="${employee.lastname}">
						<td th:text="${employee.gender}">
						<td th:text="${employee.identificationNum}">
						<td th:text="${employee.department.name}">
						<td th:text="${employee.experience.description}">
						<td th:text="${employee.admissionDate}">
						<td th:text="${employee.address}">
						<td th:text="${employee.available}">
<!-- 						<td><a class="btn btn-info" -->
<!-- 							th:href="@{/employee/save/{id}(id=${employee.id})}"> Editar</a> -->
<!-- 						<td><a class="btn btn-danger" -->
<!-- 							th:href="@{/employee/delete/{id}(id=${employee.id})}">Eliminar -->
<!-- 						</a> -->
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>