<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Save - Employee</title>

<!--  Bootstrap CSS -->
<link href="../static/bootstrap-4.4.1-dist/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap-4.4.1-dist/css/bootstrap.css}">
</head>
<body>
	<div class="container">
	<br>
		<!-- titulo de la pagina -->
		<h2>AGREGAR EMPLEADO</h2>

		<div class="card bg-light " >
			<div class="card-header bg-dark text-white" th:text="${Title}"></div>
			<div class="card-body">
				<form th:action="@{/employee/save}" th:object="${employee}" method="post">
					<!-- Datos Personales del empleado -->
				
					
					 <h3>Datos laborales</h3>
					
					<!--Department donde labora el empleado -->
					
					<div class="form-group">
						<label for="nombre">Departamento</label> 
							<select class="form-control form-control-sm col-md-6" 
							id="employee.department" th:field="*{department}" >
							<option th:each="department: ${departments}"
							th:value="${department.id}"
							th:text="${department.name}"/>
						</select>
						
					</div>
					
					<!-- Experiencia del empleado -->
					<div class="form-group">
						<label for="nombre">Experiencia</label> 
							<select class="form-control form-control-sm col-md-6" 
							id="employee.experience" th:field="*{experience}" >
							<option th:each="experience: ${experiences}"
							th:value="${experience.id}"
							th:text="${experience.description}"/>
						</select>
					</div>
					
					<!-- Direccion  del empleado -->
					<div class="form-group row">
						<label class="col-md-2" for="address">Direccion del empleado</label>
						<input type="text"
							   th:field="*{address}"
							   class="form-control form-control-sm col-md-6"
							   id="address"
							   placeholder="Direccion  del empleado"> <small></small>
					</div>
					
					<!-- Estatus  del empleado -->
					<div class="form-group row">
						<label class="col-md-2" for="status" >Estado del empleado</label>
						<input type="text"
							   th:field="*{status}"
							   class="form-control form-control-sm col-md-6"
							   id="status"
							   placeholder="status"> <small></small>
					</div>
					
					<!-- Fecha de ingreso del empleado -->
					<div class="form-group row">
						<label class="col-md-2" for="admissionDate" >Fecha de ingreso del empleado</label>
						<input type="text"
							   th:field="*{admissionDate}"
							   class="form-control form-control-sm col-md-6"
							   id="admissionDate"
							   placeholder="DD-MM-AAAA"> <small></small>
					</div>
					
					<div class="card-footer bg-dark">
						<input type="submit" class="btn btn-primary btn-sm" value="Guardar"/>
					</div>
					
				</form>
				</div>
			</div>
	</div>
</body>
</html> 