<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Save - Person</title>

<!--  Bootstrap CSS -->
<link href="../static/bootstrap-4.4.1-dist/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap-4.4.1-dist/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<br>
		<!-- titulo de la pagina -->
		<h2>Agregar personas</h2>

		<div class="card bg-light ">
			<div class="card-header bg-dark text-white" th:text="${Title}"></div>
			<div class="card-body">

				<form action="#" th:action="@{/person/save}" th:object="${person}"
					method="post">
					<!-- Datos Personales del empleado -->
					<h3>Datos personales</h3>
					<!-- Nombres de la persona -->
					<div class="form-group row">
						<label class="col-md-2" for="name" 
							th:field="*{name}">Nombres</label>
							<input type="text" class="form-control form-control-sm col-md-6"
							id="person.name" placeholder="Nombres de la persona"> <small></small>
					</div>
					<!-- Apellidos de la persona -->
					<div class="form-group row">
						<label class="col-md-2" for="lastname"
							th:field="*{lastname}">Apellidos</label> 
							<input type="text"
							class="form-control form-control-sm col-md-6"
							id="person.lastname" placeholder="Apellidos de la persona">
					</div>

					<!-- Genero de la persona -->
					<div class="form-group row">
						<label class="col-md-2" for="gender" 
							th:field="*{gender}">Genero</label>
							<input type="text" 
							class="form-control form-control-sm col-md-6"
							id="person.gender" placeholder="Genero de la persona"> <small></small>
					</div>

					<!-- Numero de identificacion de la persona -->

					<div class="form-group row">
						<label class="col-md-2" for="identificationNum"
							th:field="*{identificationNum}">Numero de identificacion</label>
							<input type="text" class="form-control form-control-sm col-md-6"
							id="person.identificationNum" placeholder="Numero de identificacion de la persona"> <small></small>
					</div>

					<div class="card-footer bg-dark">
						<input type="submit" class="btn btn-primary btn-sm"
							value="Guardar" />
					</div>

				</form>
			</div>
		</div>
	</div>
</body>
</html> 